header {
    display: inline-block;
    background-color: #FA6938;
    width: 100%;
    height: 100%;
    padding-left: 5%;
    box-sizing: border-box;
}
.headertext {
    display: inline-block;
}
#logo {
    height: 150px;
    padding-left: 5%;
}
.top {
    display: flex;
    border: 10px solid transparent;
    padding: 15px;
    border-image: url("assets/perforated-bottom@2x.png") 11 round;
    border-top: none;
}