.top {
    position: relative;
    padding: 0% 0% 0% 5%;
    display: flex;
    align-items: center;  
    border: 10px solid transparent;
    border-image: url("assets/perforated-bottom@2x.png") 11 round;
    border-top: none;
    font-size: 20px;
    font-weight: lighter;

    img {
        height: 100px;
    }
        
        p {
             padding-left: 5%;
        }
}

.signin {
    display: flex;
    justify-content: flex-end;
}
.signinregister {
    font-size: 15px;
    font-weight: lighter;
    display: flex;
    color: #919191;
}
#headerregister {
    position: relative; 
    bottom: 35px;
    left: 495px;
}
#headersignin {
    position: relative; 
    bottom: 35px;
    left: 475px;
}
.cart {
    position: relative;
    left: 230px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #919191;
    border-radius: 4px;
    height: 25px;
    width: 100px;
}
.searchbar {
     position: relative;
    left: 230px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #919191;
    border-radius: 4px;
    height: 25px;
    width: 165px;

}
.cart, p {
    position: relative;
    right: 12px;
}
#headercart {
    position: relative;
    right: 5px;
    height: 20px;
    width: 20px;
}
#headsearch {
    position: relative;
    right: 65px;
    display: flex;
    align-items: center;
    height: 20px;
    width: 20px; 
}